.homepage {
  &__banner {
    margin-bottom: 95px;
    img {
      width: 100%;
    }
    @media (max-width: 640px) {
      margin-bottom: 25px;
    }
  }
  &__textblock {
    margin-bottom: 70px;
    &__content {
      &__img {
        img {
          max-width: 100%;
        }
        .mypower {
          height: 100%;
          position: relative;
          max-width: 442px;
          input {
            &[type="text"],
            &[type="submit"] {
              display: block;
              width: 45%;
              height: 16%;
              max-height: 56px;
              position: absolute;
              bottom: 30px;
              border-radius: 10px;
              outline: none;
            }
            &[type="text"] {
              left: 8%;
              max-width: 160px;
              background: #fff;
              border: solid 2px #333;
              text-transform: uppercase;
              font-size: 18px;
              padding: 0 15px;
            }
            &[type="submit"] {
              right: 8%;
              max-width: 188px;
              border: none;
              background: url(../images/submit-btn.png) center center no-repeat;
              cursor: pointer;
            }
          }
        }
      }
      &.content_flex {
        .homepage__textblock__content__img {
          text-align: right;
        }
        &.reverse {
          .homepage__textblock__content__img {
            text-align: left;
          }
        }
        @media (max-width: 640px) {
          .homepage__textblock__content__img {
            text-align: center;
            margin-bottom: 30px;
          }
          &.reverse {
            .homepage__textblock__content__img {
              text-align: center;
            }
          }
        }
      }
      .multiple-wrap {
        margin-bottom: 50px;
      }
    }
    &_my-power {
      .content_flex__box,
      .content_flex__box .mypower {
        align-self: flex-start;
        min-height: 200px;
      }
      @media (max-width: 940px) {
        .homepage__textblock__content {
          flex-direction: column;
          &__img {
            align-self: center;
            padding: 0;
            margin-bottom: 15px;
            .mypower {
              input {
                &[type="text"],
                &[type="submit"] {
                  width: 39%;
                }
              }
            }
          }
          &__text {
            width: 100%;
            padding: 0;
          }
        }
      }
    }
    @media (max-width: 640px) {
      margin-bottom: 25px;
    }
  }
  &__partners {
    margin-bottom: 70px;
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        min-height: 140px;
        margin-bottom: 25px;
        flex-shrink: 0;
        img {
          max-width: 100%;
        }
        @media (max-width: 640px) {
          width: 50%;
          margin-bottom: 15px;
        }
        @media (max-width: 480px) {
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
    @media (max-width: 640px) {
      margin-bottom: 25px;
    }
  }
  &__team {
    margin-bottom: 70px;
    &__content {
      display: flex;
      justify-content: space-between;
      &__box {
        flex-shrink: 0;
        img {
          max-width: 100%;
          margin-bottom: 27px;
        }
        h5 {
          font: {
            size: 24px;
            weight: bold;
          }
          color: #3f3f3f;
          text-align: center;
          margin-bottom: 13px;
        }
        span {
          display: block;
          color: #3f3f3f;
          font-size: 16px;
          text: {
            align: center;
            transform: uppercase;
          }
        }
        @media (max-width: 1200px) {
          margin: 0 10px 25px;
        }
      }
      @media (max-width: 1200px) {
        flex-wrap: wrap;
        justify-content: space-around;
      }
    }
    @media (max-width: 640px) {
      margin-bottom: 25px;
    }
  }
}